<header class="header-navigation" id="header">
    <nav><div class="logo"><a href="/">萌萌陈C酱个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/view/index.html">网站首页</a></li>
            <li><a href="/view/share.html">我的相册</a></li>
            <li><a href="/view/about.html">关于我</a></li>
            <li><a href="/view/gbook.html">留言</a></li>

        </ul>
        <div class="searchbox">
            <div id="search_bar" class="search_bar">
                <form   method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title">
                    <input type="hidden" name="tempid" value="1">
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索">
                    <p class="search_ico"> <span></span></p>
                </form>
            </div>
        </div>
    </nav>
</header>