<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">

<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/jQueryUI/jquery-ui.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="../plugins/adminLTE/js/app.min.js"></script>
<script src="../js/common.js"></script>
<script src="../plugins/angularjs/angular.min.js"></script>
<script src="../js/base_pagination.js"></script>
<script src="../js/service/editpasswordService.js"></script>
<script src="../js/controller/editpasswordController.js"></script>

<div ng-app="editpasswordApp"  ng-controller="editpasswordController" ng-init="init()">
<table class="table table-bordered table-striped"  >
    <!--<input type="hidden" name="createTime" ng-model="emtity.createTime" />-->
    <input type="hidden" ng-model="entity.user.nickname">
    <tr>
        <td>密码</td>
        <td><input  class="form-control" placeholder="密码" ng-model="entity.user.password" >  </td>
    </tr>
    <tr>
        <td>确认密码</td>
        <td><input  class="form-control" placeholder="确认密码" ng-model="entity.repassword" >  </td>
    </tr>

</table>

    <button type="button" class="btn btn-default"  ng-click="editpassword()" ><i class="fa fa-refresh"></i> 提交修改</button>

</div>

