<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/angularjs/angular.min.js"></script>
<!-- 日历组件 -->
<link rel="stylesheet" href="../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<script src="../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<!-- 分页组件 -->
<script src="../plugins/angularjs/pagination.js"></script>
<link rel="stylesheet" href="../plugins/angularjs/pagination.css" >
<!-- 分页组件结束  -->
<script src="../js/common.js"></script>
<script src="../js/base_pagination.js"></script>
<script src="../js/service/logService.js"></script>
<script src="../js/controller/logController.js"></script>

<body class="hold-transition skin-red sidebar-mini" ng-app="logApp" ng-controller="logController" >
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">系统日志列表</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->

        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" style="width:100%;" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc hidden-xs">ID</th>
                <th class="sorting">访问时间</th>
                <th class="sorting">访问用户</th>
                <th class="sorting hidden-xs">访问IP</th>
                <th class="sorting">资源URL</th>
                <th class="sorting hidden-xs">执行时间</th>
                <th class="sorting hidden-xs">访问方法</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td ><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
                <td class="hidden-xs">{{entity.id}}</td>
                <td>{{entity.visittime | date: "yyyy-MM-dd hh:mm:ss"}}</td>
                <td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap">{{entity.username}}</td>
                <td class="hidden-xs">{{entity.ip}}</td>
                <td>{{entity.url }}</td>
                <td class="hidden-xs">{{entity.executiontime}}</td>
                <td class="hidden-xs">{{entity.method}}</td>

            </tr>

            </tbody>
        </table>
        <!--数据列表/-->
        <!-- 分页 -->
        <tm-pagination conf="paginationConf"></tm-pagination>


    </div>
    <!-- 数据表格 /-->




</div>