<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>首页_陈C个人博客 - 一个站在java后端开发之路的技术员个人博客网站</title>
  <meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
  <meta name="description" content="陈C个人博客个人。" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" />
  <link href="/css/base.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/m.css" rel="stylesheet">
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/js/hc-sticky.js"></script>
  <script type="text/javascript" src="/js/comm.js"></script>
  <!--[if lt IE 9]-->
  <script src="/js/modernizr.js"></script>
  <!--[endif]-->
  <!-- vue -->
  <script src="/js/common.js"></script>
  <script src="/js/vue/vue.js"></script>
  <script src="/js/public.js"></script>
  <script src="/js/vue/axios-0.18.0.js"></script>
  <!-- 夜星特效 -->
  <link rel="stylesheet" media="screen" href="/js/jqueryparticles/css/style.css">
  <!-- 鼠标特效 -->
  <link rel="stylesheet" type="text/css" href="/js/mousefollowing/css/jq22-demo.css">
  <!-- 特效end -->
  <!-- vue分页 -->
  <link rel="stylesheet" href="/js/vue/vue-pagination.css">
  <script src="/js/vue/vue-pagination.js"></script>
  <!--vue结束 -->

</head>
<body >
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/">陈C个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="index.html">网站首页</a></li>
      <li><a href="share.html">我的相册</a></li>
      <li><a href="about.html">关于我</a></li>
      <li><a href="gbook.html">留言</a></li>
      <li><a href="info.html">内容页</a></li>
    </ul>
  </nav>
</header>
<article>
  <aside class="l_box">
    <div class="about_me">
      <h2>关于我</h2>
      <ul>
        <i><img src="/images/4.jpg"></i>
        <p><b>陈C</b>，一个90后萌新站长！17年入坑。一直潜心研究java后端技术，
          一边学习一边积累经验，分享一些个人学习心得。</p>
      </ul>
    </div>
    <div class="wdxc">
      <h2>我的相册</h2>
      <ul>
        <li><a href="/"><img src="/images/1.jpg"></a></li>
        <li><a href="/"><img src="/images/2.jpg"></a></li>
        <li><a href="/"><img src="/images/4.jpg"></a></li>
        <li><a href="/"><img src="/images/1.jpg"></a></li>
        <li><a href="/"><img src="/images/2.jpg"></a></li>
        <li><a href="/"><img src="/images/4.jpg"></a></li>
      </ul>
    </div>
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" autocomplete="off" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
        <li><a href="/">学无止境（33）</a></li>
        <li><a href="/">日记（19）</a></li>
        <li><a href="/">慢生活（520）</a></li>
        <li><a href="/">美文欣赏（40）</a></li>
      </ul>
    </div>
    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="/images/wx.jpg">
      </ul>
    </div>
  </aside>
  <main class="r_box">
    <div class="gbook" id="userMessage">
      <template v-for="message in messageList.rows">
        <div class="fb">
          <ul>
            <p class="fbtime"><span style="width:auto"> {{message.createTime | dataFormat }} </span> {{message.username}}</p>
            <p class="fbinfo">{{message.message}}</p>
          </ul>
        </div>
        <div class="hf" v-if="message.myreplyId != null">
          <ul>
            <p class="zzhf"><font color="#FF0000">站长回复:</font>{{message.myreply.message}}</p>
          </ul>
        </div>
      </template>
      <vue-nav :cur="cur" :all="all" class="pagelist" :callback="callback"></vue-nav>
      <div class="gbox">
        <form name="form1" id="form1">
          <p> <strong>来说点儿什么吧...</strong></p>
          <p><span> 您的昵称:</span>
            <input name="name" autocomplete="off" type="text" v-model="userMessage.username" id="name">
            *</p>
          <p><span>联系邮箱:</span>
            <input name="email" autocomplete="off" type="text" v-model="userMessage.email" id="email">
            *</p>
          <p><span class="tnr">留言内容:</span>
            <textarea name="lytext" cols="60" v-model="userMessage.message" rows="12" id="lytext"></textarea>
          </p>
          <p>
            <input type="button" v-on:click="addMessage" class="submit" name="Submit3" value="提交">
            <input name="enews" type="hidden" id="enews" value="AddGbook">
          </p>
        </form>
      </div>
    </div>
  </main>
</article>
<footer>
  <p>Design by <a href="#" target="_blank">陈C个人博客</a> <a href="/">Copyright © 赣ICP备18013122号</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
<!-- 夜星特效 -->
<div id="particles-js"></div>
<script src="/js/jqueryparticles/js/particles.min.js"></script>
<script src="/js/jqueryparticles/js/app.js"></script>
<!-- 鼠标特效 -->
<script src="/js/mousefollowing/js/fairyDustCursor.js" type="text/javascript"></script>
<!-- 特效end -->
<script src="/js/controller/messageController.js"></script>
</body>
</html>
